<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/_files</exclude>
            <exclude>tests/Client/_files</exclude>
            <exclude>tests/TestAsset</exclude>
            <exclude>tests/UserAgent/Features</exclude>
            <exclude>tests/Client/CommonHttpTests.php</exclude>
            <exclude>tests/Client/SocketTest.php</exclude>
            <exclude>tests/Client/SocketKeepaliveTest.php</exclude>
            <exclude>tests/Client/SocketPersistentTest.php</exclude>
            <exclude>tests/Client/CurlTest.php</exclude>
            <exclude>tests/Client/ProxyAdapterTest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>library</directory>
        </include>
    </source>
</phpunit>
